*.pyc
*.log
*.pid
Vagrantfile
*.DS_Store
.idea
.vagrant
tweetaggregator/static/*
tweetaggregator/components/*
tweetaggregator/uploaded/*
tweetaggregator/tweetaggregator/settings.py
tweetaggregator/tweetaggregator/production_settings.py
node-v*