body {
  min-height: 2000px;
  padding-top: 70px;
}

a:hover {
	text-decoration: none;
}

.navbar-static-top {
  margin-bottom: 19px;
}

table {
	max-width:none; 
	table-layout:fixed; 
	word-wrap:break-word;
	margin: 15px auto;
}

@media(max-width:767px){
	td, th {
		max-width: 100px;
		overflow: hidden;
		
		white-space: nowrap;
	}
}

td {
  word-wrap: break-word;
}

h5{
    font-size: 1.4em;
} 

ul {
	list-style-type: none;
}


