{% extends "base.html" %}

{% block title %}List of all username in source{% endblock %}

{% block content %}
	<div id="table" class="table-responsive">
		<form name="twitter_table">
			<table class="table table-bordered table-striped">
				<tr>
					<th> <input type="checkbox" onchange="check_all(this)"/> </th>
					<th> @username </th>
					<th> Crawled Tweets </th>
					<th> Last Tweets </th>
					<th> Retweets </th>
					<th> Favorites </th>
					<th> Twitter Profiles </th>
				</tr>
				{% for username, crawled_tweet, tweet_created, retweet, favorite, twitter_profile in all_users %}
				<tr>
					<td> <input type="checkbox" name="check_username" value="{{ username }}"/></td>
					<td> <a href="{% url 'all_crawled_user' username %}" target="_blank"> {{ username }} </a> </td>
					<td> {{ crawled_tweet }} </td>
					<td> {{ tweet_created }} </td>
					<td> {{ retweet }} </td>
					<td> {{ favorite }} </td>
					<td> <a href="{{ twitter_profile }}" target="_blank"> view </a> </td>
				</tr>
				{% endfor %}
			</table>
			<input type="submit" class="btn btn-primary pull-left" value="Show Charts" onclick="show_chart()"/>
		</form>
	</div>
	<div class="pagination" style="text-align:center">
		<span class="step-links">
			{% if all_users.has_previous %}
				<a href="?page={{ all_users.previous_page_number }}"> previous </a>
			{% endif %}
			<span class="current"> {{ all_users.number }} </span>
			{% if all_users.has_next %}
				<a href="?page={{ all_users.next_page_number }}"> next </a>
			{% endif %}
		</span>
	</div>
    <script>
        function check_all(user) {
             var checkboxes = document.getElementsByTagName('input');
             if (user.checked) {
                 for (var i = 0; i < checkboxes.length; i++) {
                     checkboxes[i].checked = true;
                 }
             } else {
                 for (var i = 0; i < checkboxes.length; i++) {
                     checkboxes[i].checked = false;
                 }
             }
         }
        function show_chart() {
            var check_box = document.forms[0].check_username;
            var checked_username = []
            var n;
            for (n = 0; n < check_box.length; n++) {
                if (check_box[n].checked){
                    checked_username.push(check_box[n].value);
                }
            }
            if (checked_username.length < 1){
                window.reload();
            }
            else {
                window.open("/charts/tweet/" + checked_username);
            }
        }
    </script>
{% endblock %}

























