{% load staticfiles %}
<!-- nvd3 -->
<link media="all" href="{% static 'nvd3/build/nv.d3.css' %}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src='{% static 'd3/d3.min.js' %}'></script>
<script type="text/javascript" src='{% static 'nvd3/build/nv.d3.min.js' %}'></script>

<!-- jquery -->
<script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
<script type="text/javascript" src='{% static 'jquery/dist/jquery.min.js' %}'></script>

<!-- Bootstrap -->

{% load nvd3_tags %}
<head>
    {% include_chart_jscss %}
    {% for user, chartdata, chartcontainer in type0 %}
        {% load_chart charttype_Bar chartdata chartcontainer extra %}
    {% endfor %}
    {% for user, chartdata, chartcontainer in type1 %}
        {% load_chart charttype_Bar chartdata chartcontainer extra %}
    {% endfor %}
	{% for user, chartdata, chartcontainer in type2 %}
        {% load_chart charttype_Pie chartdata chartcontainer extra %}
    {% endfor %}
</head>
<body>
    <table>
        {% for valid_username in valid_usernames %}
        <tr>
                <td> <strong> {{ valid_username }} </strong> </td>
            {% for user, chartdata, chartcontainer in type0 %}
                {% if user == valid_username %}
                <td>
                    {% include_container chartcontainer 350 600 %}
                </td>
                {% endif %}
            {% endfor %}
            {% for user, chartdata, chartcontainer in type1 %}
                {% if user == valid_username %}
                <td>
                    {% include_container chartcontainer 350 600 %}
                </td>
                {% endif%}
            {% endfor %}
			{% for user, chartdata, chartcontainer in type2 %}
                {% if user == valid_username %}
                <td>
                    {% include_container chartcontainer %}
                </td>
                {% endif%}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

























